
/* Custom styles are created with prefix - own- */

.own-service {
	margin-top: 5rem !important;
}

.own-contact {
	max-width: 450px !important;
	margin: 0 auto;
}

.own-skills-list > li {
	margin-bottom: 0.5rem !important;
}

.own-header {
    box-sizing: border-box;
}


img {
    width: 100%;
}