
/* Custom styles are created with prefix - own- */

.own-clearfix {
	margin-top: 5rem !important;
}

.own-contact {
	max-width: 450px !important;
	margin: 0 auto;
}

.own-skills-list > li {
	margin-bottom: 0.5rem !important;
}

.own-header {
    box-sizing: border-box;
}

.own-main {
    padding: 10% 0 15% 0 !important;     
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.own-owl-carousel {
	text-align: center;
}

.own-description {
	font-style: italic;
}

.own-author {
	font-weight: 700;
	padding-top: 10px;
}

.own-testimonial-link {
	text-decoration: underline;
	color: #777;
	padding-top: 10px;
}

.own-testimonial-link:hover {
	text-decoration: none;
	color: #777;
}

.own-main img {
	width: 40% !important;
}

img {
    width: 100%;
}

