<html>
	<head>
		<title>Rustem's portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
	<body>
		<header class="ui block header segment">
			<img class="ui left floated small circular image" src="static/img/avatar.jpg">
			<div class="left floated">
			  	<h1>Rustem Vorozheykin</h1>
			  	<h3>Python/Frontend developer. Tester</h3>
			  	<div class="ui massive horizontal list">
			  		<a href="#">
						<i class="vk icon"></i>
					</a>
			  		<a href="#">
						<i class="linkedin icon item"></i>
					</a>
			  		<a href="#">
						<i class="skype icon item"></i>
					</a>
			  		<a href="#">
						<i class="instagram icon item"></i>
					</a>
			  		<a href="#">
						<i class="github icon item"></i>
					</a>
			  	</div>
		  	</div>
		</header>
	</body>
	<script   
		src="https://code.jquery.com/jquery-3.1.1.min.js"   
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   
		crossorigin="anonymous"></script>
	<script src="static/semantic/dist/semantic.min.js"></script>
</html>