<html>
	<head>
		<title>Python/Frontend разработчик. Тестировщик.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<body>

		<!-- Menu -->
		<div class="ui top inverted fixed menu segment own-header">
			<div class="ui text container">
				<div class="ui inverted secondary pointing right menu">
					<a href="#services" class="item active">Услуги</a>
					<a href="#skills" class="item">Навыки</a>
					<a href="#portfolio" class="item">Портфолио</a>
					<a href="#about" class="item">Обо мне</a>
					<a href="#about2" class="item">Обо мне2</a>
					<a href="#contact" class="item">Связаться</a>
				</div>
			</div>
		</div>

        <div class="own-clearfix"></div>
        
        <!-- Main -->
		<div id="about2" class="ui vertical stripe center aligned segment own-main">
			<div class="ui text container">
                <img class="ui centered medium circular image" src="static/img/avatar.jpg">
                <h1>Ворожейкин Рустем Вахидович</h1>
                <h2>Фронтенд/Python разработчик. Тестировщик.</h2>
			</div>
		</div>
		
		<!-- About -->
		<div id="about" class="ui vertical stripe segment">
			<div class="ui text container">
				<h2 class="ui center aligned header">Обо мне</h2>
                <div class="ui items">
                    <div class="item">
                        <div class="content">
                            <h3>Ворожейкин Рустем Вахидович</h3>
                            <div class="meta">
                                <span>Фронтенд/Python разработчик. Тестировщик.</span>
                            </div>
                                <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                I am a Python/Front-end developer and Tester. I have experience with Selenium / HTML5 / CSS3 / jQuery / Python / Django. I got a Bachelor of Science in Applied Informatics from Crimean Engineering and Pedagogical University. I am a hard worker and enjoy working at all critical conditions. If hired by you I will be responsible to complete the task within the stipulated time frame and with utmost confidence. Outsource me for your project and I promise to bring in the best output.
                            </div>
                        </div>
                    </div>
                </div>
				
				<h4>Areas of Expertise</h4>
				<ul>
					<li>Selenium tests</li>
					<li>HTML5, CSS3, jQuery</li>
					<li>Python, Django</li>
					<li>PSD to HTML Conversion</li>
					<li>HTML5 Responsive Expert</li>
					<li>Bootstrap, foundation, SemanticUI</li>
				</ul>
			</div>
		</div>

		<!-- Skills -->
		<div id="skills" class="ui vertical stripe segment center aligned">
			<div class="ui text container">
				<h2>Навыки</h2>
				<ul class="own-skills-list">
					<li class="ui label">Selenium</li>
					<li class="ui label">Responsive design</li>
					<li class="ui label">HTML5</li>
					<li class="ui label">CSS3</li>
					<li class="ui label">Bootstrap</li>
					<li class="ui label">Python</li>
					<li class="ui label">Django</li>
					<li class="ui label">JavaScript</li>
					<li class="ui label">jQuery</li>
					<li class="ui label">PostgreSQL</li>
					<li class="ui label">Git</li>
					<li class="ui label">Кроссбраузерная верстка</li>
					<li class="ui label">MongoDB</li>
					<li class="ui label">Linux</li>
				</ul>
			</div>
		</div>


		<!-- Portfolio -->
		<div id="portfolio" class="ui vertical stripe segment">
			<div class="ui text container center aligned">
				<h2>Портфолио</h2>
				<div class="ui three stackable special cards">
					
					{% for work in portfolio_works %}
					<div class="card">
						<div class="image blurring dimmable image">
							

							<div class="ui dimmer">
								<div class="content">
									<div class="center">
										<div id="{{ work.slug }}" class="ui circular massive icon button inverted button own-modal">
											<i class="zoom icon"></i>
										</div>
									</div>
								</div>
							</div>
							<img src="static/img/portfolio/min/{{ work.img }}">
						</div>
						<div id="modal-{{ work.slug }}" class="ui modal">
							<div class="header">{{ work.title}}</div><i class="close icon"></i>
                            <img src="static/img/portfolio/{{ work.img }}">
                            <div class="content">
                                {{ work.desc|safe }}
                            </div>
                        </div>
					</div>
					{% endfor %}
					
				</div>
			</div>
		</div>

		<!-- Service -->
		<div id="services" class="ui vertical stripe segment">
			<div class="ui text container center aligned">
				<h2>Услуги</h2>
				<div class="ui three column stackable grid">
					<div class="column">
						<h4>Тестирование. Автоматизация задач на сайте.</h4>
						<p>Разрабатываю тесты на драйвере selenium на python. Сталкивался с большим количеством багов в браузерах при взаимодействии с selenium. Решал данные проблемы. Автоматизация задач на сайте.</p>
					</div>
					<div class="column">
						<h4>Адаптивная, кроссбраузерная верстка</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
					</div>
					<div class="column">
						<h4>Backend python разработчик</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Contact us -->
		<div id="contact" class="ui vertical stripe center aligned inverted segment">
			<div class="ui text container">
				<h1>Обратная связь</h1>
				<p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
				<form action="/test" method="post" class="ui inverted form own-form own-contact">
					<div class="two fields segment">
						<div class="ui field labeled input">
							<div class="ui label">
								<i class="user icon"></i>
							</div>
							<input type="text" name="name" placeholder="Name">
						</div>
						<div class="ui field labeled input">
							<div class="ui label">
								<i class="mail icon"></i>
							</div>
							<input type="email" name="email" placeholder="Email">
						</div>
					</div>
					<div class="ui divider"></div>
					<textarea></textarea>
					<div class="ui divider"></div>
					<button class="ui fluid submit button" type="submit">Submit</button>
				</form>
			</div>
		</div>


		<!-- Copyright -->
		<div class="ui vertical stripe segment center aligned">
			<div class="ui text container">
				<div class="ui large horizontal list">
			  		<a target="_blank" href="https://vk.com/te7ris">
						<i class="yellow circular inverted vk icon"></i>
					</a>
			  		<a target="_blank" href="https://ru.linkedin.com/in/rustem-vorozheykin">
						<i class="orange circular inverted linkedin icon item"></i>
					</a>
			  		<a target="_blank" href="skype:stifan_100?chat">
						<i class="green circular inverted skype icon item"></i>
					</a>
			  		<a target="_blank" href="https://www.instagram.com/_te7ris/">
						<i class="blue circular inverted instagram icon item"></i>
					</a>
			  		<a target="_blank" href="https://github.com/VorojeikinRustem">
						<i class="lightblue circular inverted github icon item"></i>
					</a>
			  	</div>
			</div>
		</div>

				
<!-- 
				<div class="ui massive horizontal list">
			  		<a href="https://vk.com/te7ris">
						<i class="vk icon"></i>
					</a>
			  		<a href="https://ru.linkedin.com/in/rustem-vorozheykin">
						<i class="linkedin icon item"></i>
					</a>
			  		<a href="skype:stifan_100?chat">
						<i class="skype icon item"></i>
					</a>
			  		<a href="https://www.instagram.com/_te7ris/">
						<i class="instagram icon item"></i>
					</a>
			  		<a href="https://github.com/VorojeikinRustem">
						<i class="github icon item"></i>
					</a>
			  	</div>
			</div>
		</div> -->

		<!-- <header class="ui block grid header container">
			<div class="three wide column">
				<img class="ui left floated small circular image" src="static/img/avatar.jpg">
			</div>
			<div class="nine wide column">
			  	<h1>Rustem Vorozheykin</h1> 
			  	<h3>Python/Frontend developer. Tester</h3>
			  	<div class="ui massive horizontal list">
			  		<a href="https://vk.com/te7ris">
						<i class="vk icon"></i>
					</a>
			  		<a href="https://ru.linkedin.com/in/rustem-vorozheykin">
						<i class="linkedin icon item"></i>
					</a>
			  		<a href="skype:stifan_100?chat">
						<i class="skype icon item"></i>
					</a>
			  		<a href="https://www.instagram.com/_te7ris/">
						<i class="instagram icon item"></i>
					</a>
			  		<a href="https://github.com/VorojeikinRustem">
						<i class="github icon item"></i>
					</a>
			  	</div>
		  	</div>
			<div class="three wide column middle aligned content">
				<div class="ui secondary vertical pointing menu">
					<a class="item lang-own active">
						<i class="ru flag"></i>Russian
					</a>
					<a class="item lang-own">
						<i class="us flag"></i>English
					</a>
				</div>
			</div>
		</header>

		<div class="ui main container">
		some text

		</div>
		<article>

		</article>
		<aside>

		</aside>
		<footer>

		</footer> -->
	</body>
	<script   
		src="https://code.jquery.com/jquery-3.1.1.min.js"   
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   
		crossorigin="anonymous"></script>
	<script src="static/semantic/dist/semantic.min.js"></script>
    <script src="static/parallax/parallax.min.js"></script>
	<script src="static/js/scripts.js"></script>
</html>