<html>
	<head>
		<title>Rustem portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
	<body>
		<header class="ui block grid header container">
			<div class="three wide column">
				<img class="ui left floated small circular image" src="static/img/avatar.jpg">
			</div>
			<div class="nine wide column">
			  	<h1>Rustem Vorozheykin</h1> 
			  	<h3>Python/Frontend developer. Tester</h3>
			  	<div class="ui massive horizontal list">
			  		<a href="https://vk.com/te7ris">
						<i class="vk icon"></i>
					</a>
			  		<a href="https://ru.linkedin.com/in/rustem-vorozheykin">
						<i class="linkedin icon item"></i>
					</a>
			  		<a href="skype:stifan_100?chat">
						<i class="skype icon item"></i>
					</a>
			  		<a href="https://www.instagram.com/_te7ris/">
						<i class="instagram icon item"></i>
					</a>
			  		<a href="https://github.com/VorojeikinRustem">
						<i class="github icon item"></i>
					</a>
			  	</div>
		  	</div>
			<div class="three wide column middle aligned content">
				<div class="ui secondary vertical pointing menu">
					<a class="item lang-own active">
						<i class="ru flag"></i>Russian
					</a>
					<a class="item lang-own">
						<i class="us flag"></i>English
					</a>
				</div>
			</div>
		</header>
	</body>
	<script   
		src="https://code.jquery.com/jquery-3.1.1.min.js"   
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   
		crossorigin="anonymous"></script>
	<script src="static/semantic/dist/semantic.min.js"></script>
	<script src="static/js/scripts.js"></script>
</html>